* {

	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
}
.d1{
	background: lightgrey;
	width: 32%;
	/*height: 150px;*/
	border: 1px solid black;
	float: left;
	position: relative;
	top: 50px;
	padding: 10px;
	margin: 10px;

}
p {
	padding: 20px;
}

.heading2 {
	float: right;
	/*height: 100px;*/
	width: 80px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 1px;
}

#h1 {
  background-color: red;
  
}
#h2 {
  background-color: blue;
 } 

#h3 {
  background-color: green;
  
}